.gutter {
  width: --fn-literal(32px);
  flex-shrink: 0;
}

.controls,
.indicators {
  position: fixed;
  top: anchor(top);
  z-index: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: var(--m-sp-xs);
}

.indicator {
  display: grid;
  place-items: center;
  min-width: var(--m-sp-lg);
  width: var(--m-sp-lg);
  height: var(--m-sp-lg);
  padding: 0;
  translate: 0 -0.2rem;
  border-radius: var(--m-rd-sm);
  color: var(--m-tint-ink);
  background: var(--m-tint-wash);
}
