.gutter {
  width: --fn-literal(32px);
  flex-shrink: 0;
  overflow: hidden;
}

.controls,
.indicators {
  position: fixed;
  top: anchor(top);
  position-visibility: anchors-visible;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--m-sp-xs);
}

.controls {
  pointer-events: auto;
}

.indicators {
  pointer-events: none;
  align-items: center;
}

.indicator {
  width: var(--m-sp-md);
  height: var(--m-sp-md);
  translate: 0 0.2rem;
  border-radius: 50%;
  background: var(--m-tint-heavy);
}
