.root {
  height: 100dvh;
  @apply --mx-bg(var(--m-gray-wash));

  padding: var(--m-sp-sm);
  gap: var(--m-sp-md);

  display: grid;
  grid-template-areas: 'menubar' 'pane' 'location' 'content' 'annotation';
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto minmax(0, 1fr) auto;

  @media (min-width: 900px) {
    padding: var(--m-sp-lg);
    grid-template-areas: 'g1 menubar location g2' 'g1 pane content g2' 'g1 pane annotation g2';
    grid-template-columns: 1fr 20rem minmax(300px, 800px) 1fr;
    grid-template-rows: auto minmax(0, 1fr) auto;
  }
}

.pane {
  grid-area: pane;
  position: sticky;
  top: 0;
  align-self: start;
  min-width: 0;
  gap: var(--m-sp-md);
}

.content {
  grid-area: content;
  position: relative;
  min-width: 0;
  gap: var(--m-sp-md);
  min-height: 0;
  contain: content;
  max-width: 65ch;
}

.location {
  grid-area: location;
  position: sticky;
  padding: var(--m-sp-sm);
  top: 0;
  z-index: 1;
}

.menubar {
  grid-area: menubar;
}

.annotationPane {
  grid-area: annotation;
}
